@CHARSET "UTF-8";
div#box{
	box-shadow:1px 1px 5px black;
	width:603px;
	height:600px;
	background:linear-gradient(#9BC7EC,#E7F4FF);
	margin: 30px auto 0px;
}
div#header{
	width:600px;
	height:100px;
}

div#header h1{
	position: relative;
    top: 25px;
}

div#menu{
	width:601px;
	height:35px;
	margin: 0px auto;
	background:white;
}

div#menu a{
	color:black;
	text-decoration: none;
	font-weight:bold;
}

div#menu a:hover{
	color:white;
	text-decoration: none;
	font-weight:bold;
}

#link{
	background:#5FBCF1;
	height:20px;
	display: inline-block;
	width:150px;
	margin:5px;
	box-shadow:1px 1px 5px blue;
	padding:2px;
}


#link:first-child{
	background:#5FBCF1;
	height:20px;
	display: inline-block;
	width:150px;
	margin:5px;
	box-shadow:1px 1px 5px blue;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#link:last-child{
	background:#5FBCF1;
	height:20px;
	display: inline-block;
	width:150px;
	margin:5px;
	box-shadow:1px 1px 5px blue;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#container{
	width:600px;
	height:460px;
	margin: 0px auto;
}

table {
	box-shadow: 1px 1px 5px #5FBCF1;
}

th {
	background: #5FBCF1;
}

tr:nth-child(odd) {
	background: #c1e8ff;
}

tr:nth-child(even) {
	background: #b0e1ff;
}
